{% extends "base.html" %}

{% block content %}
<h1>Register UniSolver</h1>

<form method="POST">
    {% csrf_token %}

    <label>Username</label><br>
    <input type="text" name="username" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <label>Rol</label><br>
    <select name="role" required>
        <option value="student">Student/Elev</option>
        <option value="tutor">Tutor</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>

<p>Ai deja cont? <a href="/login/">Login</a></p>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}
{% endblock %}